h1 a, h2 a {
    color: #53b3cb;
    font-family: 'Limelight', cursive;
}

body {
    padding-left: 15px;
    background-color: #edf2f4;
}
#posts{
    display: flex;
}
#post{
    border: 1px solid #a38b7a;
    padding: 5px;
    margin: 10px;
    
}
#date {
    color: #828282;
}
