{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/randomquote.css' %}">

 <title>Random Wahlslogan</title>
 <style>
  
 </style>
</head>
<body>
 
 <h1>Hier ist dein heutiger Wahlslogan:</h1>
 
<div id="slogan">
  <h2>{{posts.title}}</h2>
  <p>{{posts.text}}</p>
  <p id="parti">{{posts.parti}}</p>
  <a href="http://127.0.0.1:8000/">
    <p id="button">Mehr 
      <i class="arrow right"></i>
    </p>
  </a>

</div>


 
</body>
</html>